body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_game_and_message {
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

h1{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.content_game{
    background-color: rgba(14, 14, 13, 0.712);
    max-width: 60%;
    margin: 50px auto;
    border-radius: 5px;
}

.content_message{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    flex-direction: column;
}
.content_message p {
    text-align: center;
}

.reset_btn{
    padding: 15px;
    border-radius: 6px;
    background-color: rgb(48, 48, 182);
    color: white;
}

.options_game{
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
}

.options_game input {
    padding: 10px;
    border-radius: 6px;
}

h3 {
    font-size: 28px;
    text-align: center;
}

footer{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    text-align: center;
}